[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HandTill2001"]
	path = HandTill2001
	url = https://gitlab.com/fvafrcu/handtill2001
[submodule "MakefileR"]
	path = MakefileR
	url = https://gitlab.com/fvafrcu/makefiler
[submodule "cleanr"]
	path = cleanr
	url = https://gitlab.com/fvafrcu/cleanr
[submodule "document"]
	path = document
	url = https://gitlab.com/fvafrcu/document
[submodule "fakemake"]
	path = fakemake
	url = https://gitlab.com/fvafrcu/fakemake
[submodule "fritools"]
	path = fritools
	url = https://gitlab.com/fvafrcu/fritools
[submodule "fritools2"]
	path = fritools2
	url = https://gitlab.com/fvafrcu/fritools
[submodule "maSAE"]
	path = maSAE
	url = https://gitlab.com/fvafrcu/masae
[submodule "packager"]
	path = packager
	url = https://gitlab.com/fvafrcu/packager
[submodule "rasciidoc"]
	path = rasciidoc
	url = https://gitlab.com/fvafrcu/rasciidoc
[submodule "treePlotArea"]
	path = treePlotArea
	url = https://gitlab.com/fvafrcu/treeplotarea
